<h1><%= contact.first_name %> <%= contact.last_name %></h1>

<div>
  <div>Email: <%= contact.email %></div>
  <div>Phone: <%= contact.phone %></div>
</div>

<p>
  <a href="/contacts/<%= contact.id %>/edit">Edit</a>
  <a href="/contacts">Back</a>
</p>
